<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
<title>Chainsaw Fan <!>!<&&&&&&></title>
<link rel="icon" href="favicon.png" type="image/png">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="resources/css/app.css">

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>  
<script type="text/javascript" src="resources/js/app.js"></script> 

</head>
<body id="main" class="container-fluid" style="margin: 0px; padding: 0px; height: 100vh; width: 100vw; overflow-x: hidden; overflow-y: hidden;">

<%- include ('partials/navbar.ejs'); -%>

<%- include ('partials/frames.ejs'); -%>

<div class="sections text-danger" id="bodee">

<%- include ('partials/fujimoto.ejs'); -%>

<%- include ('partials/anime.ejs'); -%>
  
<%- include ('partials/manga.ejs'); -%>
  
<%- include ('partials/pochita.ejs'); -%> 
  
<%- include ('partials/power.ejs'); -%>
  
<%- include ('partials/denji.ejs'); -%> 
  
</div>

<%- include ('partials/footer.ejs'); -%>

<script>
    let vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
        if (vw < 1024) {
            document.body.innerHTML = ` 
            <!DOCTYPE html>
            <html lang="ja">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>ページ表示エラー</title>
                <style>
                    body {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100vh;
                        background-color: black;
                        color: white;
                        text-align: center;
                        font-family: Arial, sans-serif;
                    }
                    .container {
                        max-width: 90%;
                        padding: 20px;
                        font-size: 0.8rem;
                    }
                    h1 { 
                        font-family: "Yuji Boku", serif; 
                        font-size: 5vw; 
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                    }
                </style>
            </head>
            <body>
                <div class="container">
                    <h1>このページは表示できません</h1>
                    <img src="katana_man_sized.png" alt="Error Image">
                    <p>画面の幅が小さすぎるため、このページを表示できません。ウィンドウのサイズを変更するか、より大きなデバイスに切り替えてください。</p>
                </div>
            </body>
            </html>
        `; 
    } 
</script>

</body>
</html>
